<% provide(:title, "Home") %>
<h1>Welcome to my rails website!</h1>

<p>Go here for the <%= link_to 'about page', about_path %></p>
<p>Go here for the <%= link_to 'pages test', pagestest4_index_path %></p>
		
